<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="WcfServiceCannel.FlyService">
        <endpoint address="" binding="customBinding" bindingConfiguration="mycustomerbinding" contract="WcfServiceCannel.IFlyService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://192.168.1.123:8733/MyService/"/>
          </baseAddresses>
        </host>
      </service>
    </services>

    <bindings>
      <customBinding>
        <binding name="mycustomerbinding">
          <binaryMessageEncoding/> <!--编码方式为二进制-->
          <httpsTransport/><!--http传输-->
        </binding>
      </customBinding>
    </bindings>
    
  </system.serviceModel>
</configuration>
