<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="WCFService.Fly">
              <!--
                  ABC的概念
                    A:address:服务的地址，就像我们访问web的时候，是不是有一个地址  address为空的话。取得是基地址
                    B:Binding:就是我们client和service的通道，比如说我们访问web，我们使用http通道
                    C：contract：我们定义的接口是怎么样的
              -->
                <endpoint address="net.msmq://localhost/private/myservice" binding="netMsmqBinding" bindingConfiguration="myBinding"
                          contract="WCFService.IFly">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/WCFService/Fly/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
      <bindings>
        <netMsmqBinding>
          <binding name="myBinding">
            <security mode="None"/>
          </binding>
        </netMsmqBinding>
      </bindings>
    </system.serviceModel>
</configuration>